.move-hero-0 {
    z-index: 2 !important;
    animation: move-zero .5s linear forwards !important;
}

.move-hero-1 {
    z-index: 2 !important;
    animation: move-one .5s linear forwards;
}
.move-hero-2 {
    z-index: 2 !important;
    animation: move-two .5s linear forwards;
}
.move-hero-3 {
    z-index: 2 !important;
    animation: move-three .5s linear forwards;
}

@keyframes move-zero {
    0% {
        background-image: var(--selected-hero-up-1);
    }
    12.5% {
        background-image: var(--selected-hero-up-2);
        transform: translate(0, -25%);
    }
    24% {
        background-image: var(--selected-hero-up-3);
        transform: translate(0, -50%);
    }
    25% {
        background-image: var(--selected-hero-side-1);
        transform: translate(0, -50%);
        scale : -1 1;
    }
    37.5% {
        scale : -1 1;
        transform: translate(-25%, -50%);
        background-image: var(--selected-hero-side-1);
    }
    50%{
        scale : -1 1;
        transform: translate(-50%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    62.5%{
        transform: translate(-75%, -50%);
        background-image: var(--selected-hero-side-3);
        scale : -1 1;
    }
    75%{
        scale : -1 1;
        transform: translate(-100%, -50%);
        background-image: var(--selected-hero-side-1);
    }
    87.5%{
        scale : -1 1;
        transform: translate(-125%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    99% {
        scale : -1 1;
        transform: translate(-150%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    100% {
        scale : 1 1;
        transform: translate(150%, -50%);
        background-image: var(--selected-hero-up-1);
    }
}

@keyframes move-one {
    50% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(50%, -50%);
    }
}

@keyframes move-two {
    0% {
        background-image: var(--selected-hero-up-1);
    }
    12.5% {
        background-image: var(--selected-hero-up-2);
        transform: translate(0, -12.5%);
    }
    25% {
        background-image: var(--selected-hero-up-3);
        transform: translate(0, -25%);
    }
    37.5% {
        transform: translate(0, -37.5%);
        background-image: var(--selected-hero-side-1);
    }
    50%{
        transform: translate(0, -50%);
        background-image: var(--selected-hero-side-2);
    }
    62.5%{
        transform: translate(-12.5%, -50%);
        background-image: var(--selected-hero-side-3);
    }
    75%{
        transform: translate(-25%, -50%);
        background-image: var(--selected-hero-side-1);
    }
    87.5%{
        transform: translate(-37.5%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    100% {
        transform: translate(-50%, -50%);
        background-image: var(--selected-hero-up-1);
    }
}


@keyframes move-three {
    0% {
        background-image: var(--selected-hero-up-1);
    }
    12.5% {
        background-image: var(--selected-hero-up-2);
        transform: translate(0, -25%);
    }
    25% {
        background-image: var(--selected-hero-up-3);
        transform: translate(0, -50%);
    }
    37.5% {
        transform: translate(-25%, -50%);
        background-image: var(--selected-hero-side-1);
    }
    50%{
        transform: translate(-50%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    62.5%{
        transform: translate(-75%, -50%);
        background-image: var(--selected-hero-side-3);
    }
    75%{
        transform: translate(-100%, -50%);
        background-image: var(--selected-hero-side-1);
    }
    87.5%{
        transform: translate(-125%, -50%);
        background-image: var(--selected-hero-side-2);
    }
    100% {
        transform: translate(-150%, -50%);
        background-image: var(--selected-hero-up-1);
    }
}
