@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

:root {
    --energy-color: rgb(154, 154, 28);
    --health-color: rgb(154, 28, 28);
    --damage-color: rgb(28, 89, 154);
    --heal-color: rgb(24, 127, 55);
    --support-color: rgb(47, 166, 199);
    --fighter-color: rgb(199, 47, 47);
    --healer-color: rgb(47, 199, 80);
}