.hero-selection-page {
    height: 100svh;
    width: 100%;
}

.title-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16svh;
}

.title {
    width: 100%;
    cursor: default;
    position: absolute;
    font-family: 'Get Schwifty';
    font-size: min(8svh, 15svw);
    color: #08BAE3;
    z-index: 6;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.title span {
    font-size: 0.5em;
}

.title.middle {
    -webkit-text-stroke: 0.1em #FFF765;
    z-index: 5;
}

.title.bottom {
    position: unset;
    -webkit-text-stroke: 0.4em black;
    z-index: 4;
}

.selection-container {
    color: white;
    font-family: 'Concert One', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84svh;
    justify-content: center;
    align-items: center;
}

.hero-selection {
    max-width: 50%;
}

.hero-selection-title {
    font-size: min(4svh, 6svw);
    margin-top: -4svh;
    text-align: center;
}

.selected-heroes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 13svh;
}

.selected-heroes div {
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px double #ccc;
    width: 8.5svh;
    height: 8.5svh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 10px;
    max-height: 4.5svw;
    max-width: 4.5svw;
}

.selected-heroes div img {
    object-fit: contain;
    width: 115%;
    max-height: 115%;
    z-index: 1;
}

.hero-selection-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -2svh;
}

.hero-selection-card {
    display: flex;
    flex-direction: column-reverse;
    height: 32svh;
    max-height: 20svw;
    width: 21%;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 2svh 1%;
    box-sizing: border-box;
    cursor: pointer;
}

.hero-selection-card img {
    object-fit: contain;
    width: 110%;
    max-height: 110%;
    transition: all .5s linear;
    z-index: 1;
}

.hero-selection-card:hover img {
    filter: grayscale(100%);
}

.hero-selection-card-description {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: min(1.8svh, 1.2svw);
    position: absolute;
    box-sizing: border-box;
    height: 32svh;
    max-height: 20svw;
    width: 10.5svw;
    border-radius: 15px;
    translate: -2px 2px;
    z-index: 5;
    overflow: hidden;
    color: black;
}

.hero-selection-card:hover .hero-selection-btn {
    opacity: 1;
}

.hero-selection-btn {
    all: unset;
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 8%;
    font-size: 1.2em;
    opacity: 0;
    transition: all .5s linear;
}

.btn-add-hero {
    background-color: rgb(105, 173, 83);
}

.btn-remove-hero {
    background-color: rgb(158, 71, 71);
}

.hero-description-wrapper {
    height: 92%;
    width: 100%;
    overflow: hidden;
}

.hero-selection-card:hover .hero-description {
    translate: 0;
}

.hero-description {
    /* background-color: rgba(255, 255, 255, 0.7); */
    background: radial-gradient(ellipse at bottom, #1b273571 0%, #090a0f71 100%);
    color: white;
    width: 100%;
    height: 100%;
    translate: 0 91.5%;
    transition: all .4s ease-in;
}

.hero-description-name {
    text-align: center;
    font-weight: bold;
    height: 8.5%;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.hero-description-role {
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    color: black;
}

.hero-description-role svg {
    height: 1em;
}

.fighter-role-icon {
    fill: rgb(199, 47, 47);
}

.support-role-icon {
    fill: rgb(47, 166, 199)
}

.healer-role-icon {
    fill: rgb(47, 199, 80)
}

.hero-description-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8.5%;
    padding-top: 2%;
}

.hero-description-stats div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2%;
}

.hero-description-stat-icon {
    height: 1em;
    margin-right: 5%;
}

.hp-icon {
    fill: rgb(154, 28, 28);
}

.energy-icon {
    fill: rgb(154, 154, 28);
}

.damage-icon {
    fill: rgb(28, 89, 154);
}

.heal-icon {
    fill: rgb(24, 127, 55);
}

.hero-description-ability-name {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8.5%;
    margin-top: 3%;
    color: #ffffff;
    margin: 0 2px;
}

.hero-description-ability-name svg {
    height: 1em;
    fill: #ffffff
}

.hero-description-ability-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8.5%;
}

.hero-description-ability-cost svg {
    height: 1em;
}

.hero-description-ability-description {
    text-align: center;
}

.enemy-selection-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.enemy-overview-card {
    height: 83svh;
    max-height: calc(40svw + 19svh);
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    translate: 0 13svh;
    z-index: 1;
    animation: translate-enemy-card .3s linear;
}

.enemy-overview-card img {
    object-fit: contain;
    max-width: 100%;
    max-height: 110%;
}

.enemy-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 13svh;
    z-index: 2;
}

.enemy-select div {
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px double #ccc;
    background-color: rgba(0, 0, 0, 0.7);
    width: 8.5svh;
    height: 8.5svh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 10px;
    max-height: 4.5svw;
    max-width: 4.5svw;
    cursor: pointer;
    transition: all .2s linear;
}

.enemy-select div:hover {
    transform: scale(1.1);
}

.enemy-select div:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}


.enemy-select div:active {
    transform: scale(1.2);
}

.enemy-select div img {
    object-fit: contain;
    width: 115%;
    max-height: 115%;
    filter: grayscale(100%);
    transition: all .2s linear;
}

.enemy-title {
    margin-bottom: -13svh;
}

.enemy-select .selected-enemy {
    border-color: rgb(105, 173, 83);
    background: radial-gradient(ellipse at bottom, #1b2735c7 0%, #090a0fc7 100%);
}

.enemy-select .selected-enemy img {
    filter: unset;
}

.hero-selection .selected-hero {
    border-color: rgb(105, 173, 83);
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.selected-hero .hero-description {
    background: rgba(0, 0, 0, 0.5);
}

.vs-title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.vs-title-container .title {
    width: 100%;
    cursor: default;
    position: absolute;
    font-family: 'Get Schwifty';
    font-size: min(16svh, 16svw);
    color: #08BAE3;
    z-index: 3;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.vs-title-container .title.middle {
    -webkit-text-stroke: 0.1em #FFF765;
    z-index: 2;
}

.vs-title-container .title.bottom {
    position: unset;
    -webkit-text-stroke: 0.4em black;
    z-index: 1;
}

.start-fight-btn {
    all: unset;
    position: fixed;
    top: 100%;
    left: 50%;
    translate: -50% -105%;
    text-align: center;
    animation-name: title-scale, hue-rotate-scale;
    animation-duration: .5s, 1s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear, linear;
    animation-direction: normal, alternate;
    z-index: 2;
    cursor: pointer;
}

.start-fight-btn .title {
    cursor: pointer;
}

.start-fight-btn:hover {
    transform: scale(1.1);
    animation: unset;
}

@keyframes hue-rotate-scale {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(-3deg);
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        filter: hue-rotate(150deg);
        transform: rotate(3deg);
        scale: .95;
    }
}

@keyframes translate-enemy-card{
    0%{
        translate: 50% 13svh;
    }

    100%{
        translate: 0 13svh;
    }
}

@media screen and (max-aspect-ratio: 16/10.1) {
    .enemy-overview-card {
        height: 70svh;
        max-height: calc(40svw + 6svh);
        translate: 0;
    }

    .enemy-overview-card img {
        max-height: 105%;
    }

    .enemy-title {
        margin-bottom: 0;
    }

    @keyframes translate-enemy-card{
        0%{
            translate: 50% 0;
        }
    
        100%{
            translate: 0 0;
        }
    }
}